<!DOCTYPE html>
<html>
  <head>
    <title>Banking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to :Signup, new_user_registration_path unless user_signed_in? %>
          <%= link_to :Login, new_user_session_path unless user_signed_in? %>
          <%= link_to :Logout, destroy_user_session_path, method: :delete if user_signed_in? %>
        </div>
      </div>
      <div class="panel-body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
